%div
  %h1
    GitLab
    Enterprise Edition
    %span= Gitlab::VERSION
    %small= Gitlab::REVISION
    - if current_application_settings.version_check_enabled
      = version_status_badge
  %br
    Read more about GitLab at #{link_to promo_host, promo_url, target: '_blank'}.
  - if help_text.present?
    %hr
    %p.slead
      = markdown(help_text)
  - else
    %p.slead
      GitLab is open source software to collaborate on code.
      %br
      Manage git repositories with fine grained access controls that keep your code secure.
      %br
      Perform code reviews and enhance collaboration with merge requests.
      %br
      Each project can also have an issue tracker and a wiki.
      %br
      Used by more than 100,000 organizations, GitLab is the most popular solution to manage git repositories on-premises.


%hr

.row
  .col-md-8
    .documentation-index
      = preserve do
        - readme_text = File.read(Rails.root.join("doc", "README.md"))
        - text = readme_text.dup
        - readme_text.scan(/\]\(([^(]+)\)/) { |match| text.gsub!(match.first, "help/#{match.first}") }
        = markdown text

  .col-md-4
    .panel.panel-default
      .panel-heading
        Quick help
      %ul.well-list
        %li
          See our website for
          = link_to 'getting help', promo_url + '/getting-help/'
        %li
          Use the
          = link_to 'search bar', '#', onclick: 'Shortcuts.focusSearch(event)'
          on the top of this page
        %li
          Use
          = link_to 'shortcuts', '#', onclick: 'Shortcuts.showHelp(event)'
        %li
          Get a support
          = link_to 'subscription', 'https://about.gitlab.com/pricing/'
        %li
          = link_to 'Compare', 'https://about.gitlab.com/features/#compare'
          GitLab editions
