%ul.nav.nav-sidebar
  = nav_link do
    = link_to project_path(@project), title: 'Back to project', data: {placement: 'right'}, class: 'back-link' do
      = icon('caret-square-o-left fw')
      %span
        Back to project

  %li.separate-item

  %ul.sidebar-subnav
    = nav_link(path: 'projects#edit') do
      = link_to edit_project_path(@project), title: 'Project Settings', data: {placement: 'right'} do
        = icon('pencil-square-o fw')
        %span
          Project Settings
    = nav_link(controller: :group_links) do
      = link_to namespace_project_group_links_path(@project.namespace, @project) do
        = icon('share-square-o fw')
        %span
          Groups
    = nav_link(controller: :deploy_keys) do
      = link_to namespace_project_deploy_keys_path(@project.namespace, @project), title: 'Deploy Keys', data: {placement: 'right'} do
        = icon('key fw')
        %span
          Deploy Keys
    = nav_link(controller: :hooks) do
      = link_to namespace_project_hooks_path(@project.namespace, @project), title: 'Web Hooks', data: {placement: 'right'} do
        = icon('link fw')
        %span
          Web Hooks
    = nav_link(controller: :git_hooks) do
      = link_to namespace_project_git_hooks_path(@project.namespace, @project) do
        = icon('git-square fw')
        %span
          Git Hooks
    = nav_link(controller: :services) do
      = link_to namespace_project_services_path(@project.namespace, @project), title: 'Services', data: {placement: 'right'} do
        = icon('cogs fw')
        %span
          Services
    = nav_link(controller: :protected_branches) do
      = link_to namespace_project_protected_branches_path(@project.namespace, @project), title: 'Protected Branches', data: {placement: 'right'} do
        = icon('lock fw')
        %span
          Protected Branches
    = nav_link(controller: :audit_events) do
      = link_to namespace_project_audit_events_path(@project.namespace, @project) do
        = icon('file-text-o fw')
        %span
          Audit Events
